@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 28px 8%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight:500;
    text-align:center;
    margin-bottom: 25px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-bottom: 9px;
    font-weight: 500;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 5px;
}

p {
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;
    padding: 0 4rem;
    margin-bottom: 50px;
}

ul{
    display: flex;
    gap: 3rem;
}

nav button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
}

nav a {
    font-family: 'Inter', sans-serif;
    color: #292929; 
}

nav a:hover {
    cursor: pointer;  
    color: #DA2535;  
}


#primeira-parte {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 80px;
}

#primeira-parte h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight:500;
    text-align: start;
}

#primeira-parte div {
    width: 360px;
    margin-bottom: 50px;
}

#primeira-parte img {
    height: 300px;
}

#primeira-parte button {
    background-color: #DA2535;
    color: #FBFBFB;
    border: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    align-items: start;
}

#segunda-parte {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 80px;
}

#segunda-parte h2 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    text-align: start;
}

#segunda-parte div {
    width: 360px;
    margin-bottom: 50px;
}

#segunda-parte p {
    font-weight: 400;
    font-size: 1rem;
    width: 70%;
}

#segunda-parte img {
    height: 350px;
}

#segunda-parte a {
    color: #DA2535;
    text-decoration: underline;
    cursor: pointer;
}

#terceira-parte {
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 2rem;
    text-align: center;
    margin: 80px;
}

.caixa-fundo {
    height: 330px;
    width: 250px;
    background-color: #F3F3F3;
    border-radius: 15px;
}

.conteudo {
    position: relative;
    top: -60px;
}

#terceira-parte img {
    height: 200px;
}

#comentarios {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

#comentarios section {
    height: 200px;
    width: 370px;
    background-color: #F3F3F3;
    padding: 15px;
    border-radius: 5px;
    text-align:start;
}

#comentarios p {
    margin: 2px;
}

.img-pessoas {
    height: 60px;
}

input {
   height: 30px; 
   width: 420px;
   border-radius: 5px 0 0 5px;
   padding: 20px;
}

#img-localizacao {
    height: 300px;
}

#parte-localizacao {
    display: flex;
    justify-content: center;
    margin: 100px;
}

#localizacao {
    background: url(imagens/fi_map-pin.png) no-repeat;
    background-position: 2px;
    padding-left: 40px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

form button {
    background-color: #DA2535;
    color: #FBFBFB;
    border: none;
    height: 44px;
    width: 150px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

footer p {
    margin-bottom: 5px;
}
